@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
:root {
    --color1: #A7C3CC;
    --color2: white;
    --color3: #121212;
    --spacing: 5px;
}

body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

main {
    margin: 0px 20%;
}

header {
    height: 20vh;
    background-color: var(--color2);
    color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

#build-list {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing);
    padding: 0px;
    margin: var(--spacing);
}

.build {
    position: relative;
    background-color: var(--color2);
    color: var(--color3);
    padding: var(--spacing);
    border-radius: var(--spacing);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing);
}

.tag-list {
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing);
}

.tag {
    background-color: black;
    width: fit-content;
    padding: 0px var(--spacing);
    border-radius: var(--spacing);
    text-transform: lowercase;
}

.alpha {
    background-color: #5b9264;
    color: var(--color2);
}

.beta {
    background-color: #a8a752;
    color: var(--color2);
}

.wip {
    background-color: #864781;
    color: var(--color2);
}

.latest {
    background-color: #a04747;
    color: var(--color2);
}

a:link {
    color: inherit;
    transition: background-color 0.25s ease;
    border-radius: var(--spacing);
    padding: 0px var(--spacing);
}

a:visited {
    color: inherit;
}

a:focus {
    /* font-style: italic; */
    background-color: var(--color1);
}

a:hover {
    /* font-style: italic; */
    background-color: var(--color1);
}

a:active {
    /* font-style: italic; */
    background-color: var(--color1);
}

@media screen and (max-width: 1000px) {
    main {
        margin:0px;
    }
}