@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
:root {
    --color1: #A7C3CC;
    --color2: #EFEFEF;
    --color3: #121212;
    --spacing: 5px;
}

body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

main {
    padding-left: 25%;
    padding-right: 25%;
}

header {
    height: 20vh;
    background-color: var(--color2);
    color: var(--color1);
    display: flex;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
}

p {
    margin: 0;
}

#build-list {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing);
}

.build {
    background-color: white;
    color: var(--color3);
    padding: var(--spacing);
    border-radius: var(--spacing);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing);
}

.tag {
    background-color: black;
    width: fit-content;
    padding: var(--spacing);
    border-radius: var(--spacing);
    text-transform: lowercase;
}

a:link {
    color: inherit;
    transition: background-color 0.25s ease;
}

a:visited {
    color: inherit;
}

a:focus {
    /* font-style: italic; */
    background-color: var(--color1);
}

a:hover {
    /* font-style: italic; */
    background-color: var(--color1);
}

a:active {
    /* font-style: italic; */
    background-color: var(--color1);
}